.footer-bg{
    background-color: #1F2B6C;
    z-index: 0;
    
}
.input-color{
    background-color: #BFD2F8 !important;

}
.input-color::placeholder{
    color: #1F2B6C;
    font-family: work sans;
}
.footer-p{
    font-family: Work sans;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FCFEFE ;
}
.footer-links{
    font-family: Work sans;
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    letter-spacing: 0%;
    color: #FCFEFE ;
}
.footer-h{
    font-family: Work sans;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: auto;
    letter-spacing: 0%;
    color: #FCFEFE ;
}
.big-med{
    font-family: Yeseva One;
    line-height: auto;
    font-size: 18;
    /* font-weight: normal; */
    color:#BFD2F8 !important;
    width: 193;
    font-weight: 900;
    font-size: 2rem;
}

.line{
    color: #FCFEFE !important;
   
    
    z-index: 40 !important;
}
.reserved{
    color: #FCFEFE;
    font-family: work sans;
    line-height: auto;
    font-size: 16px;
}